.minesweeper-main {
    width: 500px;
    margin: 0 auto;
}

.head {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    /*background-color: aqua;*/
}
.head > * {
    position: relative;
    background-color: darkgray;
    font-family: 'Digital7', monospace;
    font-size: 5em;
    color: red;
    text-align: center;
    height: 80px;
}

/*.head .background-text {*/
/*    color: #4C0000;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    z-index: -1;*/
/*    overflow: hidden;*/
/*}*/
.head .flags-count {
    /*background-color: da;*/
    width: 150px ;
    /*height: 80px;*/
    /*object-fit: contain;*/
}

.head .play-btn {
    /*background-color: yellow;*/
    width: 80px;
}

.head .clock {
    /*background-color: red;*/
    width: 150px;
    /*height: 80px;*/
}


.field-grid {
    display: grid;
    background-color: #9b9b9b;
    height: 500px;
    width: 100%;
}

.cells-c10 {
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    grid-gap: 3px;
}

.cell {
    padding: 0;
    border-width: 0;
    appearance: none;
    position: relative;
}

.cell * {
    font-family: 'PressStart2P', monospace;
    font-size: 2em;
}

.cell-bottom.d-1 {
    color: transparent;
    background: url("../img/svg/mine.svg") !important;
    background-size: cover !important;
}

.cell-bottom.d0 {
    color: transparent;
}
.cell-bottom.d1 {
    color: blue;
}
.cell-bottom.d2 {
    color: darkgreen;
}
.cell-bottom.d3 {
    color: red;
}
.cell-bottom.d4 {
    color: #1f00ff;
}
.cell-bottom.d5 {
    color: #8c0000;
}
.cell-bottom.d6 {
    color: #004008;
}
.cell-bottom.d7 {
    color: #004791;
}
.cell-bottom.d8 {
    color: #621313;
}


.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.cell:active > * {
    background: url("../img/svg/cell_opened.svg");
}

.cell:focus {
    outline: none;
    box-shadow: none;
}


.cell-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: cover !important;
}

.cell-bottom.flagged {
    background: url("../img/svg/cell_flaged.svg") !important;
    background-size: cover !important;
}

.cell-bottom.closed {
    background: url("../img/svg/cell_closed.svg");
}

.cell-bottom.opened {
    background: url("../img/svg/cell_opened.svg");
}


