.minesweeper-main {
    width: 500px;
    margin: 0 auto;
}

.head {
    width: 100%;
    height: 200px;
    background-color: aqua;
}

.field-grid {
    display: grid;
    background-color: #9b9b9b;
    height: 500px;
    width: 100%;
}

.cells-c10 {
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    grid-gap: 3px;
}

.cell {
    padding: 0;
    border-width: 0;
    appearance: none;
    position: relative;
}

.cell * {
    font-family: 'PressStart2P', monospace;
    font-size: 2em;
}

.cell-bottom.d0 {
    color: transparent;
}
.cell-bottom.d1 {
    color: blue;
}
.cell-bottom.d2 {
    color: darkgreen;
}
.cell-bottom.d3 {
    color: red;
}
.cell-bottom.d4 {
    color: #1f00ff;
}
.cell-bottom.d5 {
    color: #8c0000;
}
.cell-bottom.d6 {
    color: #004008;
}
.cell-bottom.d7 {
    color: #004791;
}
.cell-bottom.d8 {
    color: #621313;
}


.cell-top {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #e0e0e0;
    box-shadow: inset -4px -4px 0 #5a5a5a,
    inset 4px 4px 0 #ffffff;
    transition: 100ms;
    z-index: 99999;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}


.cell:active > * {
    visibility: hidden;
}

.cell:focus {
    outline: none;
    box-shadow: none;
}


.cell-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99998;
}




