@font-face {
    font-family: PressStart2P;
    src: url('../fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: Digital7;
    src: url('../fonts/Digital7-Regular.ttf');
}

* {
    user-select: none;
}

body {
    margin: 0 auto;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

